<mat-card class=" container mat-elevation-z8">
  <mat-card-actions>
    <button mat-button> <i class="material-icons">diversity_3</i> Quem Somos</button>
    <button mat-button> <i class="material-icons">construction</i> Help</button>
    <button mat-button routerLink="chamados"> <i class="material-icons">person_add</i> Agendar Chamado</button>
    <button mat-button routerLink="clientes"> <i class="material-icons">support_agent</i> Clientes</button>
    <button mat-button routerLink="tecnicos"> <i class="material-icons">engineering</i> Técnicos</button>


    <button mat-button><a mat-list-item href="https://github.com/MateusSilvaPereira" target="_blank">
      <img src="assets/img/github.png" alt="github image">
       Projetos Github
  </a></button>
    
  <button mat-button><a mat-list-item href="https://www.linkedin.com/in/mateus-silva-pereira/" target="_blank">
    <img src="assets/img/linkedin.png" alt="github image">
     Linkedin
</a></button>
</mat-card-actions>
</mat-card>
