
<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>HelpDesk-Services</mat-card-title>
      <mat-card-subtitle>Dev MSP</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/homeService.jpg" alt="Imagem Home Help Desk">
    <mat-card-content>
      <p>
        Olá! Seja bem vindo ao sistema HelpDesk-Services desenvolvido por <strong>Mateus Silva Pereira</strong> Utilizando Java e Angular<br />
        Esse é um sistema para gerenciamento de chamados e Servicos HelpDesk-Services desenvolvido em Angular 12 e
        Spring Boot 2. <br />O sistema está rodando na nuvem sendo o front na Vercel e o back na railway.<br />
        O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com
        Tokens JWT e muito mais. O código fonte do projeto pode ser acessado clicando no link Github no menu lateral.
        <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
        <br /> At.te: <strong>Mateus Silva Pereira</strong>
      </p>
      
    </mat-card-content>

     <!-- Cards with media area -->
<mat-card class="card1 mat-elevation-z4">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Suport</mat-card-title>
      <mat-card-subtitle>Aqui temos suport 24 Horas, fique a vontade pra relatar algum problema, estamos a disposição a lhe atender MSP Services!</mat-card-subtitle>
      <img class="image" mat-card-sm-image src="assets/img/customer-service.png" >
    </mat-card-title-group>
  </mat-card-header>
  <button mat-raised-button color="primary">Suport</button>
  <mat-card-content>
    
  </mat-card-content>
</mat-card>

<mat-card class="card1 mat-elevation-z4">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Equipe de Servicos</mat-card-title>
      <mat-card-subtitle>Contrate nos aqui na <strong>HelpDesk-Services</strong> temos os melhores profisionais qualificados, pronto para lhe atender </mat-card-subtitle>
      <img class="image" mat-card-md-image src="assets/img/customer-satisfaction.png">
    </mat-card-title-group>
  </mat-card-header>
  <button mat-raised-button color="primary">Contrate-nos</button>
  <mat-card-content>
    
  </mat-card-content>
</mat-card>
  </mat-card>

      <!-- Footer -->

      <footer id="footer">

        <div class="footer-content">
            
            <ul class="footer-menu">
              
                <p>Empresa</p>
                <li class="footer-menu-item">
                    Sobre
                </li>
                <li class="footer-menu-item">
                    Empregos
                </li>
                <li class="footer-menu-item">
                    For the record
                </li>
            </ul>
            <ul class="footer-menu">
                <p>Comunidades</p>
                <li class="footer-menu-item">
                    Para Artistas
                </li>
                <li class="footer-menu-item">
                    Desenvolvedores
                </li>
                <li class="footer-menu-item">
                    Marcas
                </li>
                <li class="footer-menu-item">
                    Investidores
                </li>
                <li class="footer-menu-item">
                    Fornecedores
                </li>
            </ul>
            <ul class="footer-menu">
                <p>Links úteis</p>
                <li class="footer-menu-item">
                    Ajuda
                </li>
                <li class="footer-menu-item">
                    Player da Web
                </li>
                <li class="footer-menu-item">
                    Aplicativo móvel grátis
                </li>
            </ul>
            <div class="socials">
                <i class="fa fa-instagram"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-facebook-f"></i>
            </div>
        </div>
        <div class="footer-info">
            <ul class="footer-info-items">
                <li class="footer-info-item">Legal</li>
                <li class="footer-info-item">Centro de Privacidade</li>
                <li class="footer-info-item">Política de Privacidade</li>
                <li class="footer-info-item">Cookies</li>
                <li class="footer-info-item">Sobre anúncios</li>
            </ul>
            <div class="rights">
                <div class="country">
                    <p>Brasil</p>
                    <img src="assets/img/brazil.png" alt="" class="brazil-flag">
                </div>
                <p>&copy; 2023 HelpDesk-Services</p>
            </div>
        </div>
    </footer>


 