<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="assets/img/digital-transformation.png" alt="Imagem de Navegação">
        <mat-nav-list class=" container mat-elevation-z8 nav-list">
            <a mat-list-item routerLink="home">
                <i class="material-icons" style="color: rgb(39, 48, 56);">home</i>
                Home
            </a>
            <a mat-list-item routerLink="tecnicos">
                <i class="material-icons" style="color: rgb(141, 180, 95);">engineering</i>
                Técnicos
            </a>
            <a mat-list-item routerLink="clientes">
                <i class="material-icons" style="color: rgb(219, 170, 96);">groups</i>
                Clientes
            </a>
            <a mat-list-item routerLink="chamados">
                <i class="material-icons" style="color: rgb(63, 61, 61);">perm_phone_msg</i>
                Chamados
            </a>
            <a mat-list-item href="https://github.com/MateusSilvaPereira" target="_blank">
                <i class="material-icons"><img id="img1" src="assets/img/github.png" alt="github image"></i>  
                Github
            </a>

            <a mat-list-item href="https://www.linkedin.com/in/mateus-silva-pereira/" target="_blank">
                <i class="material-icons"><img id="img1" src="assets/img/linkedin.png" alt="linkedin image"></i>  
                Linkedin
            </a>

            
            <a mat-list-item (click)="logout()">
                <i class="material-icons" style="color: rgb(255, 0, 0);">logout</i>
                Logout
            </a>
        </mat-nav-list>
    </mat-drawer>
  
    <div class="sidenav-content">
        <app-header></app-header>
      <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>