.container {
    height: 100%;
}

.sidenav {
    width: 13rem;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(117, 112, 207) 0%, rgb(102, 102, 143) 0%, rgb(19, 180, 212) 100%);
    border: none;
}
#img1 {
    height: 1.5rem;
    width: 1.5rem;
}
img {
    width: 40%;
    height: 5rem;
    margin: auto auto;
}

.sidenav a {
    color: white;
}

.sidenav i {
    margin-right: .6rem;
}

.menu {
    margin: 1rem 0 0 1rem;
    color: white;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(149,0,241,1) 98%);
}