
  .container {
    width: 86%;
    margin: auto;
  }

  table {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-bottom: 1rem;
    text-align: center;
  }

  h1 {
    width: 100%;
    text-align: center;
  }
  